.boardBackground {
  border-spacing: 0 0;
  margin-left: 10%;
  background-color: #C49741;
  width: 80%;
  aspect-ratio: 1 / 1;
}

.board {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  position: sticky;
  border-collapse: collapse;
}

.point {
  color: black;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: linear-gradient(to right, transparent  0 calc(50% - 1px), black calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%),
                    linear-gradient(to bottom, transparent  0 calc(50% - 1px), black calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%);
  background-repeat: no-repeat, no-repeat;
  text-align: center;
  position: relative;
}

.topmiddle {
  background-position: bottom left, 0 0;
  background-size: 100% 50%, 100% 100%;
}

.topleft {
  background-position: bottom left, bottom right;
  background-size: 100% 50%, 50% 100%;
}

.topright {
  background-position: bottom left, bottom left;
  background-size: 100% 50%, 50% 100%;
}

.bottommiddle {
  background-position: top left, 0 0;
  background-size: 100% 50%, 100% 100%;
}

.leftmiddle {
  background-position: 0 0, bottom right;
  background-size: 100% 100%, 50% 100%;
}

.rightmiddle {
  background-position: 0 0, bottom left;
  background-size: 100% 100%, 50% 100%;
}

.bottomright {
  background-position: top left, bottom right;
  background-size: 100% 50%, 50% 100%;
}

.bottomleft {
  background-position: top left, bottom left;
  background-size: 100% 50%, 50% 100%;
}

.alphabeticLabel {
  color: black;
  text-align: center;
  vertical-align: text-top;
  height: 2em;
  font-weight: bold;
}

.numericLabel {
  color: black;
  text-align: right;
  width: 2em;
  font-weight: bold;
}

.goPiece {
  height: 70%;
  width: 70%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.evalNegative {
  width: 5em;
  height: 5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-image: radial-gradient(circle at center, #C06768 0, #C06768 1.4em, transparent 1.45em, transparent 100%);
  font-size: 0.75rem;
}

.evalPositive {
  width: 5em;
  height: 5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-image: radial-gradient(circle at center, #59a56c 0, #59a56c 1.4em, transparent 1.45em, transparent 100%);
  font-size: 0.75rem;
}

.evalBest {
  width: 5em;
  height: 5em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-image: radial-gradient(circle at center, #7582cf 0, #7582cf 1.4em, transparent 1.45em, transparent 100%);
  font-size: 0.75rem;
}

.evalIllegal {
  color: red;
  font-size: 3rem;
}

.evaluationText {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  user-select: none;
}
