.boardBackground {
  border-spacing: 0 0;
  margin-left: 10%;
  background-color: #C49741;
  width: 80%;
  aspect-ratio: 1 / 1;
}

.board {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  table-layout: fixed;
  position: sticky;
  border-collapse: collapse;
}

.intersection {
  color: black;
  margin: 0;
  padding: 0;
  border: 0;
  /* border-width: 1px;
  border-color: red;
  border-style: solid; */
  /* background: repeating-linear-gradient(90deg, transparent 0 calc(100%/2 - 1px), black 0 calc(100%/2)) left/calc(100% + 2px) 100%, repeating-linear-gradient(180deg, transparent 0 calc(100%/2 - 1px), black 0 calc(100%/2)) top/100% calc(100% + 2px), repeating-linear-gradient(90deg, transparent 0 calc(100%/2 - 1px), white 0 calc(100%/2)) right/calc(100% + 2px) 100%, repeating-linear-gradient(180deg, transparent 0 calc(100%/2 - 1px), white 0 calc(100%/2)) bottom/100% calc(100% + 2px); */
  background: linear-gradient(to right, transparent  0 calc(50% - 1px), black calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%),
  linear-gradient(to bottom, transparent  0 calc(50% - 1px), black calc(50% - 1px) calc(50% + 1px), transparent calc(50% + 1px) 100%);
}
